html,
        body {
            font-family: Roboto, Helvetica, sans-serif;
            margin: 0;
            color: black;
            scroll-behavior: smooth;
        }
        .header {
            text-align: left;
        }